	body {
		background-color: #8A8567;
		color: #241200;
		height: 100%;
		font-family: Arial;
	}

	.container {
		margin: 0 auto;
	}

	.container .content {
		margin: 0 auto;
		width: 55vh;
		height: 80vh;
		position: relative;
		border: solid 2px;
		background-color:white;
		background-image: url(../images/bg.jpg);
		background-position: right;
		background-size:auto 100%;
	}

	h1 {
		margin: 0 auto;
		width: 70vw;
		height: 100%;
		text-align: center;
		text-shadow: 4px 4px 3px #BFB78A;
		font-family: 'Impact';
		font-size: 46px;
	}

	h2 {
		text-align: center;
		color: #241200;
	}

	#footer {
		margin: 0 auto;
		width: 70vw;
		text-align: center;
		color: #473F2D;
	}