#mainWindow{
	background-image:url(http://www.jihyunyoo.com/menu_img/menu_whiteBG.gif);
	background-size:100% 100%;
	background-color:white;
	display:block;
	margin:auto	;
	 width:99vw;  
	/* width: 400px	; */	
	height: 90vh;
	border-style:solid;
	border-color: brown;
	border-width:3px;
	position:relative;
}

#playButton{
	margin:0;
	margin-left: 25%;
	display:block;
	height:10%;
	width:50%;
	text-align:center;
	margin-top:2%;
	font-size:25px;
	font-family:cursive,arial;
	/*background-image:url(../img/buttonBg.png);
	background-size:100% 100%; */
}

#levelModeButton{
	margin:0;
	margin-left: 25%;
	display:block;
	height:10%;
	width:50%;
	text-align:center;
	margin-top:2%;
	font-size:25px;
	font-family:cursive,arial;
	/* background-image:url(../img/buttonBg2.png);
	background-size:100% 100%; */
}

#scoreButton{
	margin:0;
	margin-left: 25%;
	display:block;
	height:10%;
	width:50%;
	text-align:center;
	margin-top:2%;
	font-size:25px;
	font-family:cursive,arial;
}

#tutorialButton{
	margin:0;
	margin-left: 25%;
	display:block;
	height:12%;
	width:51%;
	text-align:center;
	margin-top:40%;
	font-size:25px;
	font-family:cursive,arial;
	/*background-image:url(../img/buttonBg.png);
	background-size:100% 100%; */
}

#zenButton{
	margin:0;
	margin-left: 25%;
	display:block;
	height:10%;
	width:50%;
	text-align:center;
	margin-top:10%;
	font-size:25px;
	font-family:cursive,arial;
	/*background-image:url(../img/buttonBg.png);
	background-size:100% 100%; */
}

#continueButton{
	margin:0;
	margin-left: 19%;
	display:block;
	height:auto;
	width:60%;
	text-align:center;
	margin-top:10%;
	font-size:25px;
	font-family:cursive,arial;

}

#score{
	margin:0;
	margin-left: 13%;
	display:block;
	height:auto;
	width:75%;
	text-align:center;
	margin-top:20%;

}

#timeButton{
	margin:0;
	margin-left: 25%;
	display:block;
	height:10%;
	width:50%;
	text-align:center;
	margin-top:10%;
	font-size:25px;
	font-family:cursive,arial;
	/*background-image:url(../img/buttonBg.png);
	background-size:100% 100%; */
}

#yes{
	margin:0;
	margin-left: 20%;
	display:block;
	height:auto;
	width:20%;
	text-align:center;
	margin-top:5%;
}


#no{
	margin:0;
	margin-left: 60%;
	display:block;
	height:auto;
	width:20%;
	text-align:center;
	margin-top:-20%;
}

#tryAgain{
	margin:0;
	margin-left: 13%;
	display:block;
	height:auto;
	width:75%;
	text-align:center;
	margin-top:-120%;

}

#bottom{
	text-align:center;
	font-size:20px;
	border-width:2px;
	border-style:solid;
	display:block;
	margin:auto;
	width:99vw;
	height:10vh;
}

#ayy{
	position:absolute;
	width:20%;
	height:auto;
	bottom:10px;
	left:10px;


}

#menu{
	position:absolute;
	width:20%;
	height:auto;
	bottom:10px;
	right:10px;
}

#allFlip{
	position:absolute;
	width:20%;
	height:auto;
	bottom:10px;
	left:28%; 
}

#submit{

	margin:0;
	margin-left: 19%;
	display:block;
	height:auto;
	width:60%;
	text-align:center;
	margin-top:37%;
	font-size:15px;
	font-family:cursive,arial;
}

#submitButton{
	margin:0;
	margin-left: 28%;
	display:block;
	height:auto;
	width:45%;
	text-align:center;
	margin-top:5%;
	font-size:25px;
	font-family:cursive,arial;
}


#pauseTimer{
	position:absolute;
	width:20%;
	height:auto;
	bottom:10px;
	left:53%; 
}

/* divs matrices for 2x2*/

#twoBoard{
	width:80%;
	height:250px;
	display:block;
	margin:auto;
	margin-top:35%;
	margin-left: 20%;
}

#twoBoardCover{
	width:80%;
	height:250px;
	display:block;
	margin:auto;
	margin-top:35%;
	position: absolute;
	top: 0;
}

#cover0, #cover1, #cover2, #cover3{
	background-image: url(../img/grass.jpg);
	background-size:100% 100%;
	z-index: 0;
	float:left;
	position: relative;
	width:35%;
	height:15vh;
	margin:1%;
	border-style:solid;
	border-color:#224424;
	border-width:2px;
}

#twoByTwo_0{
	background-image: url(../img/tile_nub_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:35%;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#twoByTwo_1{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:35%;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#twoByTwo_2{
	background-image: url(../img/tile_line_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:35%;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#twoByTwo_3{
	background-image: url(../img/tile_nub_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:35%;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#twoByTwo_00{
	background-image: url(../img/tile_nub_1.jpg);
	background-size:100% 100%;
	text-align:center;
	width:35%;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#twoByTwo_01{
	background-image: url(../img/tile_nub_3.jpg);
	background-size:100% 100%;
	text-align:center;
	width:35%;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#twoByTwo_02{
	background-image: url(../img/tile_90_3.jpg);
	background-size:100% 100%;
	text-align:center;
	width:35%;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#twoByTwo_03{
	background-image: url(../img/tile_nub_2.jpg);
	background-size:100% 100%;
	text-align:center;
	width:35%;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

/* div matrix for 3x3 */

#threeBoard{
	width:55vh;
	height:50vh;
	display:block;
	margin:auto;
	margin-top:25%;
	margin-left: 1%;
}

#threeBoardCover{
	width:54vh;
	height:50vh;
	display:block;
	margin:auto;
	margin-top:25%;
	position: absolute;
	top: 0;
}

#threeCover0, #threeCover1, #threeCover2, #threeCover3, #threeCover4, #threeCover5, #threeCover6, #threeCover7, #threeCover8{
	background-image: url(../img/grass.jpg);
	background-size:100% 100%;
	z-index: 0;
	float:left;
	position: relative;
	width:16vh;
	height:15vh;
	margin:1%;
	border-style:solid;
	border-color:#224424;
	border-width:2px;
}

#threeByThree_0{
	background-image: url(../img/tile_nub_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:16vh;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#threeByThree_1{
	background-image: url(../img/tile_nub_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:16vh;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#threeByThree_2{
	background-image: url(../img/tile_nub_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:16vh;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#threeByThree_3{
	background-image: url(../img/tile_nub_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:16vh;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#threeByThree_4{
	background-image: url(../img/tile_nub_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:16vh;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#threeByThree_5{
	background-image: url(../img/tile_nub_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:16vh;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#threeByThree_6{
	background-image: url(../img/tile_nub_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:16vh;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#threeByThree_7{
	background-image: url(../img/tile_nub_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:16vh;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

#threeByThree_8{
	background-image: url(../img/tile_nub_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:16vh;
	height:15vh;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	margin:1%;
	z-index: -1;
	position: relative;
}

/* div matrix for 4x4 */

#fourBoard{
	width:55vh;
	height:50vh;
	display:block;
	margin:auto;
	margin-top:17%;
	margin-left: 3%;
}

#fourBoardCover{
	width:55vh;
	height:50vh;
	display:block;
	margin:auto;
	margin-top:17%;
	position: absolute;
	top: 0;
}

#fourCover0, #fourCover1, #fourCover2, #fourCover3, #fourCover4, #fourCover5, #fourCover6, #fourCover7, #fourCover8, #fourCover9, #fourCover10, #fourCover11, #fourCover12, #fourCover13, #fourCover14, #fourCover15{
	background-image: url(../img/grass.jpg);
	background-size:100% 100%;
	z-index: 0;
	float:left;
	position: relative;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#224424;
	border-width:2px;
}

#fourByFour_0{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_1{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_2{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_3{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_4{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_5{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_6{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_7{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_8{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_9{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_10{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_11{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_12{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_13{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_14{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#fourByFour_15{
	background-image: url(../img/tile_90_0.jpg);
	background-size:100% 100%;
	text-align:center;
	width:11.5vh;
	height:12vh;
	margin:0.5%;
	border-style:solid;
	border-color:#996633;
	border-width:2px;
	float:left;
	z-index: -1;
	position: relative;
}

#threeByThree_sol {
	width:0;
	height:0;
}
/*

#fourByFour_:hover{
	transition: 1.2s;
	transform-style: preserve-3d;
 	 transform: rotateY(180deg);
  	box-shadow: -5px 5px 5px #aaa;
  	background-image: url(https://0.s3.envato.com/files/83107586/590.jpg);
}
*/
/*.underground{
	transition: 1.1s;
	transform-style: preserve-3d;
 	 transform: rotateY(360deg);
  	box-shadow: -5px 5px 5px #aaa;
  	background-image: url(https://0.s3.envato.com/files/83107586/590.jpg);
}
*/